.body{
    background:black;
    font-size: 18px;}
.postcard{
    background: white;
    width: 600px;
    height: 400px;
    margin:auto;
    position: absolute; top:50%; left:50%;
    transform: translate(-50%,-50%);
    padding:15px;}
.postcard-header{
    overflow: hidden;}
.postcard-header h1{
    margin:0px;
    width: 70%;}
.postcard-header img{
    max-width: 10%;
    float: right;
    margin-top: 0%;}
.postcard-contain{
    overflow: hidden;}
.postcard-footer {
    padding: 10px;
    text-align: center;
}
.postcard-footer input[type=submit]{
    border: none;
    border-bottom: 1px solid gray;
    }
.parragraphs{
    font-size:18px;
    float:left;
    width: 50%;
    height: 200px;
    margin-top:20px;}
.form{
    float:right;
    width: 50%;
  }
.form input{
    display:block;
}  
.input{
    font-size: 18px;
}
    